/* slider */

.slider {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.slider-item {
    object-fit: cover;
    display: block;
    width: 1000px;
    height: 600px;
    filter: brightness(50%);
    transform: scale(1.2);
}

.arrows {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.slider > *:not(:first-child) {
    display: none;
}




.celebrity {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.celebrity__text {
    text-align: center;
    margin-bottom: 50px;
}

.celebrity__text > h2 {
    font-size: 45px;
    font-weight: 400;
    padding: 10px;
    color: #33383C;
}

.celebrity__text > p {
    font-size: 20px;
    padding: 10px;
    color: #33383C;
}

.celebrity__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.celebrity__photo {
    width: 380px;
    transition: 0.3s ease;
}
.celebrity__photo:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    transform: scale(1.01);
}

.steve {
    margin-bottom: 30px;
    transition: 0.3s ease;
}
.steve:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    transform: scale(1.005);
}





.products-text{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
}

.products__container {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}

.product-item {
    color: #222222;
}
.product-item:visited {
    color: #222222;
}






.footer > hr {
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 80px;
    border: 0.5px solid #52585c;
}

.desc__container {
    text-align: center;
    color: #33383C;
}

.desc__container > h3 {
    font-size: 30px;
    padding: 20px 0;
}
.desc__container > p {
    padding: 10px 0;
    font-size: 20px;
    line-height: 2;
}
.desc__container span {
    text-transform: uppercase;
    font-weight: 500;

}







