html {
    scroll-behavior: smooth;
}

.hero {
    background: url(../assets/city.jpg) no-repeat center;
    background-size: cover;
    min-height: 90vh;
    margin-bottom: 100px;
}

.hero__container {
    width: 50%;
    margin: 150px 100px;
    float: right;
}

.hero__container > h1 {
    font-size: 40px;
}

.hero__container > a {
    line-height: 3;
    font-size: 20px;
    padding: 10px 25px;
    color: white;
    background-color: black;
    border-radius: 10px;
    transition: 0.5s ease;
}
.hero__container > a:hover {
    box-shadow: 0 6px 15px rgba(0,0,0,0.5);
}




.gallery__container {
    text-align: center;
    margin-bottom: 100px;
}

.gallery__container > h2 {
    font-size: 30px;
    margin-bottom: 50px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.card {
    width: 300px;
    height: 450px;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
}

.card > img {
    width: 300px;
    height: 200px;
}

.card > h3 {
    padding: 10px 0;
    font-size: 18px;
}

.card > p {
    height: 160px;
    padding: 10px 20px;
}



.calculator {
    text-align: center;
    margin-bottom: 50px;
}
.calculator > h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.box {
    width: 500px;
    height: 150px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}
.box > input {
    width: 350px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
}
.box > button {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.box > p {
    font-size: 20px;
    font-weight: 600;
}

.num-form {
    text-align: center;
}
.num-form > h3 {
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 20px;
}
.num-form > input {
    font-size: 25px;
    border: 0.5px solid black;
    padding: 3px;
    border-radius: 5px;
}
.num-form > button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.5s ease;
}
.num-form > button:hover {
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}